{% load static %}
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title>Ecommerce</title>
    <style>


        a{
        font-size: 15px;
        color: black;
        text-decoration: none;
        letter-spacing: 0.5px;
        font-weight: 700;
        border: none;
        }

        
        body{
            background-color: whitesmoke;

        }
        
        #popup_modal{
        max-width: 1000px;
        margin-top: 0px;
        }
        nav{ 
            text-decoration-color: black;
            background-color: white;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-white" style="pointer-events: none;">
      <img src="{% static 'images/alibab.jpg' %}" height="33px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>

    <div  class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="fas fa-shopping-bag nav-link" href="{% url 'storeapp:home' %}">Store</a>
            </li>
            <form class="d-flex input-group w-auto">
              <input
                type="search"
                class="form-control"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-primary"
                type="button"
                data-mdb-ripple-color="dark"
              >
                Search
              </button>
            </form>
        </ul>
        
        {% if user.is_authenticated %}
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
            <list  class="nav-item active"> 
                <i class="fa fa-user nav-link text-black"> {{user.username}}</i>
            </li>   
            <li class="nav-item active"> 
                <a class=" fa fa-shopping-cart text-black nav-link" href="{% url 'storeapp:cart' %}"></a><span class="badge badge-pill bg-danger">{{request.session.cart.keys|length}}</span>
            </li>
            <li class="nav-item active">
                <a class="fas fa-sign-out-alt nav-link text-black" href="{% url 'storeapp:logout' %}">Logout</a>
            </li>
            <li class="nav-item active">
                <a class=" fas fa-truck-moving nav-link text-black" href="{% url 'storeapp:order' %}">Orders</a>
            </li>
            
            <script src="//code.tidio.co/g0lw1nexqrmlzkrbd91e3wqqx2fuebdb.js" async></script>
            
        {% else %}    
            <li class="nav-item activate">
                <a class="fas fa-user-plus nav-link text-black" href="{% url 'storeapp:signup' %}">Signup</a>
            </li>
            <li class="nav-item activate">
                <a class="fa fa-key nav-link text-black" href="{% url 'storeapp:login' %}">Login</a>
            </li>
            <li class="nav-item active"> 
                <a class=" fa fa-shopping-cart text-black nav-link" href="{% url 'storeapp:cart' %}"></a><span class="badge badge-pill bg-danger">{{request.session.cart.keys|length}}</span>
            </li>
            
        </ul>
        {% endif %}

    </div>
</nav>
<div class="alert alert-success" id="myAlert">
    <center><b>Welcome to the ALIBABA~2022 Holiday Promo!! For Our Best selling Products Of The Year</b></center> 
</div>



{% block content %}

{% endblock %}

<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>ALIBABA.COM
            </h6>
            <p>
              We carried out a survey a few months back, and the response we got from our
              customers, was that of the expensive price of goods that they would really love to buy,
              in light of that , the Alibaba 2022 holiday promo is an avenue to attend to this survey,
              it is an avenue for you to get what you have been longing for throughout the year, at a very
              minimal cost.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
         
          <!-- Grid column -->
  
          <!-- Grid column -->
          
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> No. 969 West Wen Yi Road, Yuhang District, Hangzhou, Zhejiang, China and George Town, Cayman Islands.</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              alibabapromos@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +8 522 215 5100</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +91 224 233 5233</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +865 712 688 8888</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">ALIBABA.COM</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>