{% extends 'storeapp/base.html' %}
{% load cart %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        body{
    margin-top:20px;
    background:#eee;
}
.ui-w-40 {
    width: 20x !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
    </style>
</head>
<body>
    {% block content %}

    <div class="container px-3 my-5 clearfix">
        <!-- Shopping cart table -->
        <div class="card">
            <div class="card-header">
                <h2>Shopping Cart</h2>
            </div>
            
            <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered m-0">
                    <thead>
                      <tr>
                        <!-- Set columns width -->
                        <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                        <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                        <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in cart_product %}
                      <tr>
                        <td class="p-4">
                          <div class="media align-items-center">
                            <div class="flex-shrink-0">
                              <img src="{{i.image.url}}" alt="" width="35" class="img-fluid">
                            </div>
                            <div class="media-body">
                              <a href="{% url 'storeapp:product_detaile' i.id %}" class="d-block text-dark">{{i.name}}</a>
                              <small>
                                
                                <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:#e81e2c;"></span> &nbsp;
                                
                                <span class="text-muted">Ships from: </span> China
                              </small>
                            </div>
                          </div>
                        </td>
                        <td class="text-right font-weight-semibold align-middle p-4">${{i.price}}</td>
                        <td class="align-middle p-4"><input type="text" class="form-control text-center" value="{{i|cart_quantity:request.session.cart}}" autocomplete="off" readonly></td>
                        <td class="text-right font-weight-semibold align-middle p-4">${{i|total_price:request.session.cart}}</td>
                        <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                      </tr>
                    {% endfor %}  
            
                      
            
                      
                    </tbody>
                  </table>
                </div>
                <!-- / Shopping cart table -->
            
                <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                  <div class="mt-4">
                    <label class="text-muted font-weight-normal"></label>
                    
                  </div>
                  <div class="d-flex">
                    <div class="text-right mt-4 mr-5">
                      <label class="text-muted font-weight-normal m-0">Discount On All Orders</label>
                      <div class="text-large"><strong>$0</strong></div>
                    </div>
                    <div class="text-right mt-4">
                      <label class="text-muted font-weight-normal m-0">Total price</label>
                      <div class="text-large"><strong>${{cart_product|total_cart_price:request.session.cart}}</strong></div>
                    </div>
                  </div>
                </div>
            
                <div class="mb-5">
                    <a href="{% url 'storeapp:paystack' %}" class="btn btn-primary float-right">Checkout</a>
                </div
            
              </div>
          </div>
      </div>

    {% endblock %}
</body>
</html>